body {
    font-family: 'Roboto';
    margin: 50px 150px 50px 150px;
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
}

.header-links {
    display: flex;
    gap: 20px;
    font-size: 18px;
    color: #e5e7eb;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 50px 0;
    gap: 100px;
}

.hero-text {
    flex: 1;
    gap: 20px;
}

.hero-image {
    flex: 1;
}

.hero-image img {
    max-width: 100%;
}

.hero-main {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.hero-secondary {
    color: #e5e7eb;
    font-size: 18px;
}

button {
    background-color: #3882f6;
    border-radius: 8px;
    border: none;
    color: white;
    text-decoration: none;
    padding: 8px 20px;
}